//Prufa!
header {
    background-color: pink;
  }
  
  .button__contener {
    background-color: lightskyblue;
  }

  .index__img{
    background-color: #999;
    //width: 100%;
    //height: 200px;;
  }